<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CitePal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style>
         details {
             margin-left: 20px;
         }
         form.htmx-request {
             opacity: .5;
             transition: opacity 300ms linear;
         }
        </style>
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.17.0"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>

    </head>
    <body>

        <h1>CitePal: Your friendly paper finder</h1>
        <p>
            In this demo, I show a vision for grouping and displaying a group of citations hierarchically.
            I group papers using hierachical clustering based on the
            <a href="https://github.com/allenai/specter">SPECTER embeddings</a> provided by Semantic Scholar.
            Then, to interpret the groups, I use GPT3 to generate a title for each group based on the titles of the groups below it.
            The group titles are the key aspect of the demo and allow the user to browse an <b>interpretable</b> hieararchy.
        </p>

        <p>
            The papers to be grouped can be either the CSE599D papers (by default), or they can be the references of an article.
            This works particularly well for browsing references in a review article.
        </p>


        <form hx-target="#toswap" hx-get="/getpaper">
            <label>Semantic Scholar URL</label>
            <input type="text" name="url" value="">
            <button>Submit</button>
        </form>

        <button hx-target="#toswap" hx-get="/cse599d">
            Show me CSE599D papers
        </button>

        <br/> <br/>

        <div id="toswap">
        </div>

        <br/>

        <section id="overview" class="level4">
            <h4 class="anchored" data-anchor-id="overview">Overview<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" href="#overview" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h4>
            <p>We built a tool to help researchers find foundational papers for a given keyword, or set of keywords.</p>
            <p>The original dataset included a list of papers with their semantic scholar metadata. We will refer to this initial set of 65 papers as source papers. The semantic scholar metadata includes all of the references for each of these source papers. These were all aggregated into a reference paper dataset. With these two sets of papers, the question we sought out to ask was - <strong>can we create a visualization to aid researchers to quickly find important papers within a given research interest?</strong></p>
            <p>“Important” here is measured by both number of citations as well as the number of source papers that have referenced the same reference paper.</p>
            <p><strong>To use:</strong> Each source paper was labelled with tags that refer to the general content. The user can click on the bar chart to select from a subset of keywords (or multi-select with [shift]+click), and the scatter plot will auto-populate with the referece papers that are cited by this subset of source papers.</p>
            <p><strong>Interpreting the results:</strong> Each point in the scatter plot is a reference paper, plotted by year (x-axis) and number of citations (y-axis). The size and color of the point denotes how many papers in the selected group share that reference. This visually points users to points that are larger-darker and/or in the upper half of the plot as papers that are considered important within the field. In order to orient the user further, we included a tooltip with the reference paper’s title, first author, and publishing year.</p>
        </section>

        <br/>
        <button onclick="showGraph()">
            Show the graph!
        </button>

        <br/>



        <div id="vis"></div>

        <script>
         function showGraph() {
             var form = htmx.find("#checked-groups");
             var values = {};
             if(form != null) {
                 values = htmx.values(form);
                 if(typeof(values.ids) == "string") {
                     values.ids = [values.ids];
                     console.log(values);
                 }
             }
             if(values.ids === undefined || values.ids.length == 0) {
                 var el = document.getElementById("vis");
                 el.innerHTML = "Please select at least one group!";
                 return;
             }
             fetch("/postgraph", {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json;charset=utf-8'
                 },
                 body: JSON.stringify(values)
             }).then((response) => response.json())
               .then(function (spec) {
                   var embedOpt = {"mode": "vega-lite"};

                   function showError(el, error){
                       el.innerHTML = ('<div class="error" style="color:red;">'
                                     + '<p>JavaScript Error: ' + error.message + '</p>'
                                     + "<p>This usually means there's a typo in your chart specification. "
                                     + "See the javascript console for the full traceback.</p>"
                                     + '</div>');
                       throw error;
                   }
                   const el = document.getElementById('vis');
                   el.innerHTML = '';
                   vegaEmbed("#vis", spec, embedOpt)
                       .catch(error => showError(el, error));
               });
         }
        </script>
    </body>
</html>
