<!doctype html>
<html class="no-js" lang="">

    <head>
        <title>CitePaL</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="stylesheets/foundation.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="stylesheets/app.css">
        <script src="javascripts/modernizr.foundation.js"></script>
        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        </head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style>
         details {
             margin-left: 20px;
         }
         form.htmx-request {
             opacity: .5;
             transition: opacity 300ms linear;
         }
        </style>
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.17.0"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>

    </head>
    <body>
        <div class="row page_wrap" style="margin-top:-2px">
            <!-- page wrap -->
            <div class="twelve columns">
              <!-- page wrap -->
              <div class="row">
                <div class="twelve columns header_nav" style="margin-bottom:0; box-shadow: none">
                  <div class="twelve columns">
                    <ul id="menu-header" class="nav-bar horizontal">
                      <li class="active"><a href="index.html">Demo</a></li>
                      <li><a href="overview.html">Overview</a></li>
                      <li><a href="user_study.html">User Study</a></li>
                      <li><a href="future_directions.html">Future Directions</a></li>
                    </ul>
                    <script>$('ul#menu-header').nav-bar();</script>
                  </div>
                </div>
              </div>

        <h1>Welcome to CitePaL</h1>
        <h6>Ellen Lesser, Pierre Karashchuk, and Leila Elabbady</h6>
  
        <p>
            Here we have a mock up of our tool. If you would like to read more about the 
            motivation, user study or future directions, please check out the tabs above! 
        </p>

        <h4>Enter any Semantic Scholar URL in the box below</h4>

        <form hx-target="#toswap" hx-get="http://localhost:7500/getpaper">
            <label>Semantic Scholar URL</label>
            <input type="text" name="url" value="">
            <button>Submit</button>
        </form>

        <p>Once you click submit for your paper of interest, you will see a  
           drop down hierarchy of all the paper's references grouped by topic. 
           You can click on the arrows to see the individual papers. 
        </p>

        <p>To get a few recommendations and visually explore which 
            references may be most relevant to you, select your topics 
            of interest by selecting the checkboxes in the hierarchy. 
            Then click, the show graph button. (This will take a few seconds) 
         </p>

        <h4>Want to see an example? Click the button below to explore the class
            papers from CSE599.
        </h4>
        <button hx-target="#toswap" hx-get="http://localhost:7500/cse599d">
            Show me CSE599D papers (Example)
        </button>

        <br/> <br/>

        <div id="toswap">
        </div>

        <br/>
        <h4>For visual exploration and recommendations, click the button below! 
        </h4>
        <button onclick="showGraph()">
            Show the graph!
        </button>

        <br/>


        <div id="top"></div>

        <div id="vis"></div>

        <script>
         function showGraph() {
             var form = htmx.find("#checked-groups");
             var values = {};
             if(form != null) {
                 values = htmx.values(form);
                 if(typeof(values.ids) == "string") {
                     values.ids = [values.ids];
                     console.log(values);
                 }
             }
             if(values.ids === undefined || values.ids.length == 0) {
                 const elx = document.getElementById("vis");
                 elx.innerHTML = "Please select at least one group!";
                 return;
             }
             const elt = document.getElementById('vis');
             elt.innerHTML = '<p>Loading graph...</p>';

             const elp = document.getElementById('top');
             elp.innerHTML = '<p>Loading papers...</p>';

             fetch("http://localhost:7500/postgraph", {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json;charset=utf-8'
                 },
                 body: JSON.stringify(values)
             }).then((response) => response.json())
               .then(function (spec) {

                   const topEl = document.getElementById("top");
                   topEl.innerHTML = spec['papers'];

                   var embedOpt = {"mode": "vega-lite"};

                   function showError(el, error){
                       el.innerHTML = ('<div class="error" style="color:red;">'
                                     + '<p>JavaScript Error: ' + error.message + '</p>'
                                     + "<p>This usually means there's a typo in your chart specification. "
                                     + "See the javascript console for the full traceback.</p>"
                                     + '</div>');
                       throw error;
                   }
                   const el = document.getElementById('vis');
                   el.innerHTML = '';
                   vegaEmbed("#vis", spec, embedOpt)
                       .catch(error => showError(el, error));
               });
         }
        </script>
    </body>
</html>
