<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Citation Grouper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style>
         details {
             margin-left: 20px;
         }
         form.htmx-request {
             opacity: .5;
             transition: opacity 300ms linear;
         }
        </style>
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.17.0"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>

    </head>
    <body>

        <h1>Citation Grouper</h1>
        <p>
            In this demo, I show a vision for grouping and displaying a group of citations hierarchically.
            I group papers using hierachical clustering based on the
            <a href="https://github.com/allenai/specter">SPECTER embeddings</a> provided by Semantic Scholar.
            Then, to interpret the groups, I use GPT3 to generate a title for each group based on the titles of the groups below it.
            The group titles are the key aspect of the demo and allow the user to browse an <b>interpretable</b> hieararchy.
        </p>

        <p>
            The papers to be grouped can be either the CSE599D papers (by default), or they can be the references of an article.
            This works particularly well for browsing references in a review article.
        </p>


        <form hx-target="#toswap" hx-get="http://localhost:7500//getpaper">
            <label>Semantic Scholar URL</label>
            <input type="text" name="url" value="">
            <button>Submit</button>
        </form>

        <button hx-target="#toswap" hx-get="http://localhost:7500//cse599d">
            Show me CSE599D papers
        </button>

        <br/> <br/>

        <div id="toswap">
        </div>

        <br/>
        <button onclick="showGraph()">
            Show the graph!
        </button>

        <br/>

        <div id="vis"></div>

        <script>
         function showGraph() {
             var form = htmx.find("#checked-groups");
             var values = {};
             if(form != null) {
                 values = htmx.values(form);
                 if(typeof(values.ids) == "string") {
                     values.ids = [values.ids];
                     console.log(values);
                 }
             }
             if(values.ids === undefined || values.ids.length == 0) {
                 var el = document.getElementById("vis");
                 el.innerHTML = "Please select at least one group!";
                 return;
             }
             fetch("http://localhost:7500/postgraph", {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json;charset=utf-8'
                 },
                 body: JSON.stringify(values)
             }).then((response) => response.json())
               .then(function (spec) {
                   var embedOpt = {"mode": "vega-lite"};

                   function showError(el, error){
                       el.innerHTML = ('<div class="error" style="color:red;">'
                                     + '<p>JavaScript Error: ' + error.message + '</p>'
                                     + "<p>This usually means there's a typo in your chart specification. "
                                     + "See the javascript console for the full traceback.</p>"
                                     + '</div>');
                       throw error;
                   }
                   const el = document.getElementById('vis');
                   el.innerHTML = '';
                   vegaEmbed("#vis", spec, embedOpt)
                       .catch(error => showError(el, error));
               });
         }
        </script>
    </body>
</html>
